.header {
    background: linear-gradient(90.55deg, rgba(0, 0, 0, 0) 0.41%, rgba(0, 0, 0, 0.8) 99.47%), url('../../assets/body.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 600px;
    color: #fff;
}

.headerText {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 45px;
    line-height: 1.1;
}

.headerText h1 {
    font-family: Roboto, sans-serif;
    font-size: clamp(1.25rem, 0.865rem + 1.026vw, 2.25rem);
    font-weight: 400;
    line-height: 42.19px;
    text-align: left;
}

.headerText p {
    font-family: Roboto, sans-serif;
    font-size: clamp(1rem, 0.808rem + 0.513vw, 1.5rem);
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

main {
    background: rgba(242, 242, 242, 1);
    padding: 100px ;
}
main h2 {
    font-family: Roboto, sans-serif;
    font-size: clamp(1.5rem, 1.115rem + 1.026vw, 2.5rem);
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
    margin: 0;
}
footer {
    background: rgba(27, 54, 93, 1);

}

.about {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    background-color: #f2f2f2;
}

.about .image {
    flex: 1;
    max-width: 50%;
    overflow: hidden; /* Обрезаем изображение, выходящее за пределы контейнера */
    display: flex;
    align-items: center; /* Центрируем изображение по вертикали */
    justify-content: center; /* Центрируем изображение по горизонтали */
}

.about .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняем контейнер изображением, обрезая его при необходимости */
    object-position: center; /* Центрируем изображение внутри контейнера */
}

.about .text {
    flex: 1;
    padding-left: 20px;
    font-family: Roboto, sans-serif;
    font-size: clamp(1rem, 0.808rem + 0.513vw, 1.5rem);
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}
.about .text p{
    margin: 0;
}
.advantages {
    font-family: Roboto, sans-serif;
    font-size: clamp(1rem, 0.808rem + 0.513vw, 1.5rem);
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}

.advantagesImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0 ;
}

.advantagesImages img {
    width: 100%; /* Заполняем контейнер изображением */
    height: 100%; /* Высота изображения равна высоте контейнера */
    object-fit: cover; /* Обрезка изображения для заполнения контейнера */
    object-position: center; /* Центрируем изображение внутри контейнера */
}

.advantagesImages .imageContainer {
    flex: 1;
    max-width: 30%; /* Ширина каждого контейнера с изображением */
    height: 300px; /* Фиксированная высота для всех изображений */
    overflow: hidden; /* Обрезаем изображение, выходящее за пределы контейнера */
    margin: 0 10px; /* Отступы между изображениями */
}

.advantagesWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Расстояние между списками */
}

.advantagesItem {
    width: 48%; /* Ширина каждого блока */
    font-family: Roboto, sans-serif;
    font-size: clamp(1rem, 0.808rem + 0.513vw, 1.5rem);
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}


.footerCenter {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerImageLogo {
    width: clamp(50px, 50%, 200px);
    height: auto; /* чтобы сохранить пропорции */
}

.footerImage {
    width: clamp(280px, 50%, 10000px);
    height: auto;
    padding-top: 100px;
}
.footerText {
    font-family: Roboto, sans-serif;
    font-size: clamp(1rem, 0.904rem + 0.256vw, 1.25rem);
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color: #fff;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    height: 650px;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: stretch;
    gap: 7%;
}

.leftCard{
    overflow-y: auto; /* Включаем вертикальную прокрутку, если контент выходит за пределы */
    flex: 1;
    width: 50%;
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}



.col {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.shit_table {
    font-family: Inter, sans-serif;
    font-size: clamp(0.625rem, 0.553rem + 0.192vw, 0.813rem);    font-weight: 400;
    line-height: 18px;
    text-align: left;

    width: 100%;
    white-space: normal;
    max-width: 100%;
    table-layout: fixed;
}

.details {
    font-family: Inter,sans-serif;
    font-size: clamp(0.625rem, 0.505rem + 0.321vw, 0.938rem);    line-height: 18.15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.detailsHeader {
    font-size: clamp(1.25rem, 0.769rem + 1.282vw, 2.5rem);
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
}

.detailsRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
}

.detailsRow strong {
    flex: 1;
    text-align: left;
    font-weight: 600;
    margin-right: 45px;
}

.detailsRow p {
    flex: 2;
    text-align: left;
}
.noProject{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.errorMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Занимает всю высоту карточки */
    text-align: center; /* Центрует текст внутри контейнера */
}

.errorMessageContainer h2 {
    margin-bottom: 10px;
    color: red; /* Опционально: можно задать цвет текста для заголовка ошибки */
}

.errorMessageContainer p {
    color: #666; /* Цвет текста для описания ошибки */
}





@media (max-width: 768px) {
    .header {
        height: auto; /* Высота по контенту */
        padding: 10px;
        justify-content: center;
    }

    .headerText {
        margin-right: 0;
        text-align: center;
        max-width: 100%;
        padding: 10px;
    }
    .headerText p {
        line-height: 24px;
    }
    .buttonContainer {
        flex-direction: column;
        gap: 10px;
    }
    main{
        padding: 10px;
    }
}
@media (max-width: 710px) {
    .container{
        height: 1000px;
    }
    .leftCard{
        width: 100%;
    }
    .cardContainer{
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 430px) {
    .header {
        height: auto; /* Высота по контенту */
        padding: 7px;
        justify-content: center;
    }
    .headerText {
        margin-right: 0;
        text-align: center;
        max-width: 100%;
        padding: 7px;
    }
    .headerText p {
        line-height: 20px;
    }
    .buttonContainer {
        flex-direction: column;
        gap: 7px;
    }
    main{
        padding: 7px;
    }
    .about {
        flex-direction: column;
        text-align: center;
    }
    .about .image {
        max-width: 100%;
        height: auto; /* Высота будет зависеть от высоты текста */
    }
    .about .text {
        padding-left: 0;
    }
    .advantagesImages {
        flex-direction: column;
        text-align: center;
    }

    .advantagesWrapper{
        flex-direction: column;
    }
    .advantagesItem {
        width: 100%; /* Ширина каждого блока */
    }
    .advantagesImages .imageContainer {
        flex: 1;
        max-width: 80%; /* Ширина каждого контейнера с изображением */
    }
    .advantages {
        padding-left: 0;
    }
    .advantagesItem  {
        padding-left: 0;
    }
    .container{
        height: 1000px;
    }
    .leftCard{
        width: 100%;
    }
    .cardContainer{
        flex-direction: column;
        gap: 15px;
    }
    .detailsHeader{
        line-height:25px;
    }
}