.header {
    background: linear-gradient(90.55deg, rgba(0, 0, 0, 0) 0.41%, rgba(0, 0, 0, 0.7) 99.47%), url('../../assets/body.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 600px;
    color: #fff;
}

.headerText {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 45px;
    line-height: 1.1;
}

.headerText h1 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    text-align: left;
}

.headerText p {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

main h2 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
}
footer {
    background: rgba(27, 54, 93, 1);

}
.footerCenter {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerImageLogo {
    width: 15rem;
    height: 15rem;
}

.footerImage {
    width: 50rem;
    height: auto;
    padding-top: 100px;
}
.footerText {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color: #fff;
}

@media (max-width: 768px) {
    .header {
        height: auto; /* Высота по контенту */
        padding: 10px;
        justify-content: center;
    }

    .headerText {
        margin-right: 0;
        text-align: center;
        max-width: 100%;
        padding: 10px;
    }

    .headerText h1 {
        font-size: 28px;
        line-height: 32px;
    }

    .headerText p {
        font-size: 18px;
        line-height: 24px;
    }

    .buttonContainer {
        flex-direction: column;
        gap: 10px;
    }

    .headerText h1 {
        font-size: 24px;
    }

    .headerText p {
        font-size: 16px;
    }
    main h2{
        font-size: 32px;
    }
    .footerText {
        font-size: 16px;
    }
    .footerImageLogo {
        width: 10rem;
        height: auto; /* Maintain aspect ratio */
    }

    .footerImage {
        width: 45rem;
        height: auto; /* Maintain aspect ratio */
    }
}


@media (max-width: 426px) {
    .header {
        height: auto; /* Высота по контенту */
        padding: 7px;
        justify-content: center;
    }

    .headerText {
        margin-right: 0;
        text-align: center;
        max-width: 100%;
        padding: 7px;
    }

    .headerText h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .headerText p {
        font-size: 16px;
        line-height: 20px;
    }

    .buttonContainer {
        flex-direction: column;
        gap: 7px;
    }

    .headerText h1 {
        font-size: 20px;
    }

    .headerText p {
        font-size: 14px;
    }
    main h2{
        font-size: 24px;
    }
    .footerText {
        font-size: 16px;
    }
    .footerImageLogo {
        width: 7rem;
        height: auto; /* Maintain aspect ratio */
    }
    .footerImage {
        width: 14rem;
        height: auto; /* Maintain aspect ratio */
    }
}