.navbar {
    background-color: var(--g-color-base-brand);
    overflow: hidden;
}

.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarItem {
    padding: 14px 20px;
}

.navbarRight {
    display: flex;
}

.navbarItem a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
