.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

.errorMessage {
    color: var(--g-color-text-danger);
}

.form {
    width: 60%;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 8px 20px 0px #00000026;
    background: var(--Branding-Base-Background, #ffffff);
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .form {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .form {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .form {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .form {
        width: 100%;
    }
}